---
layout: base
---

<div id="ww">
    <div class="container">
        <div class="row ">
            <div class="col-lg-5" id="wukong">
                <h4>Wukong</h4> 
                <h5><a href="https://github.com/SurveyMonkey/wukong" target="_blank"><span class="fa fa-github"></span>Github</a> &mdash; Current</h5>
                <hr>
                <p>
                Wukong is a python ORM library for SOLR. Inspired by the Django ORM,
                wukong allows developers to easily interface with the SOLR HTTP API.
                </p>
                <p>
                Wukong interfaces with SOLR either directly or via a specified
                Zookeeper cluster to allow for dynamically determining SOLR
                hosts.
                </p>
            </div>
            <div class="col-lg-5 col-lg-offset-2" id="halliganhelper">
                <h4>Halligan Helper</h4> 
                <h5><a href="https://github.com/HalliganHelper/HalliganHelper" target="_blank"><span class="fa fa-github"></span>Github</a> &mdash; 2012-2015</h5>
                <hr>
                <p>
                    Halligan Helper is named after Halligan Hall, the Tufts Computer Science building. It enables students and faculty to see the current usage of the various lab machines in the building from anywhere. It also records this data and keeps track of usage over time. Additionally, it provides a real-time queue showing the line of students waiting for help from teacher's assistants. 
                </p>
            </div>
        </div>
    </div>
</div>

<div class="row">
    <ul class="small-block-grid-1 medium-block-grid-2 large-block-grid-2">
    {% for project in page.projects %}
        <li>
        <h4>{{project.name}}
        {% for type in project.types %}
            <i class="fa {{type}}"></i>
        {% endfor %}
        <h6><a target="_blank" href="https://{{project.link}}">{{project.link}}</a></h6>
        <p> {{ project.description }} </p>
        </li>
    {% endfor %}
    </ul>
</div>
