:root {
    --bg-color: #1D2D44;
    --secondary-highlight-color: #748CAB;
    --text-color: #F0EBD8;
}

html {
    background-color: var(--bg-color);
    color: var(--text-color);
}

.container {
    display: grid;
    width: 100%;
    height: 100%;
    grid-template-columns: 1fr;
    grid-template-rows: auto;
    justify-items: center;
    padding-top: 20px;
}

.headshot {
    border-radius: 10%;
}

a {
    text-decoration: none;
    color: var(--text-color);
}

.icon {
    display: inline-block;
    width: 1em;
    height: 1em;
    margin-right: 3px;
    vertical-align: -0.125em;

    background-color: var(--text-color);
    mask-repeat: no-repeat;
    mask-position: center;
    mask-size: contain;
}

.icon-linkedin {
    mask-image: url(linkedin.svg);
}

.icon-github {
    mask-image: url(github-square.svg);
}

.icon-file {
    mask-image: url(file-alt.svg);
}

.icon-envelope {
    mask-image: url(envelope.svg);
}

.line-item {
    font-size: 110%;
    line-height: 1.5em;
}
