---
projects: 
  - 
    name: Halligan Helper
    url: /projects.html#halliganhelper
  - 
    name: Facebook Cleanup
    url: /projects.html#facebookcleanup
---

<!doctype html>
<html>
    <head>
        <title> Tyler Lubeck </title>
        <link rel='stylesheet' href='/static/stylesheets/normalize.css'/>
        <link rel='stylesheet' href='/static/stylesheets/foundation.min.css'/>
        <link rel='stylesheet' href='/static/stylesheets/mycss.css'/>
        <link href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.css" rel="stylesheet">
        <script src='/static/js/vendor/modernizr.js'></script>
    </head>
    <body>
        <!-- Nav bar -->
        <div class="contain-to-grid">
            <nav class="top-bar contain-to-grid" data-topbar>
                <ul class="title-area">
                    <li class="name"></li>
                    <li class="toggle-topbar menu-icon"><a href="#">Menu</a></li>
                </ul>
                <section class="top-bar-section">
                    <ul class="left">
                        <li class="divider"></li>
                        <li><a href="/">Home</a></li>
                        <li class="divider"></li>
                        <li class="has-dropdown">
                            <a href="projects.html">Projects</a>
                            <ul class="dropdown">
                                {% for project in page.projects %}
                                    <li> <a href="{{ project.url }}"> {{ project.name }} </a></li>                          
                                {% endfor %}
                            </ul>
                    <!--
                            <ul class="dropdown">
                                <li><a href="projects.html#HalliganHelper">Halligan Helper</a></li>
                                <li><a href="projects.html#FacebookCleanup">Facebook Cleanup</a></li>
                            </ul>
                    -->
                        </li>
                        <li class="divider"></li>
                        <li><a href="resume.html">Resum&egrave;</a></li>
                        <li class="divider"></li>
                        <li><a href="contact.html">Contact</a></li>
                        <li class="divider"></li>
                    </ul>
                </section>
            </nav>
        </div>
        <!-- Body content goes here -->
        {{ content }}

        <!-- Footer scripts -->    
        <script src='/static/js/vendor/jquery.js'></script>
        <script src='/static/js/foundation.min.js'></script>
<!--        <script src='static/js/vendor/modernizr.js'></script> -->
        <script>
            $(document).foundation();
        </script>
    </body>
</html>
